<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Me</title>
        <link rel="stylesheet" href="/static/bulma/css/reset.css">
        <link rel="stylesheet" href="/static/bulma/css/me.css">
    </head>
    <body>
        <div id="main_frame">

            <div class="head_style">
                <div class="div_logout">
                    <form action="/logout" method="post" id="logoutForm">
                        {% csrf_token %}
                        <button type="submit" form="logoutForm" id="button_logout" name="isInMe">Log out</button>
                    </form>
                </div>
            </div>

            <div class="div_content center">
                <table class="gridtable">
                    <tr>
                        <th>Email</th><th>Creation date</th>
                    </tr>
                    <tr>
                        <td>{{ email }}</td>
                        <td>{{ creation_date|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                </table>
            </div>

        </div>

    </body>
</html>