
.my_profile_style {
    width: 80%;
    font-size: 20px;
    font-weight: 500;
}

.my_profile_style p {
    width: 50%;
    min-width: 450px;
    float: left;
    text-align: right;
    margin-top: 1.3em;
    color: #464646;
}

.my_profile_style span {
    margin-left: 1em;
    float: right;
    width: 50%;
    box-sizing: border-box;
    text-align: left;
    font-size: 0.9em;
    height: 1.3em;
    line-height: 1.2em;
    border-radius: 4px;
    border: 1px solid #e2e6e9;
    color: #6a6f77;
    -web-kit-appearance: none;
    -moz-appearance: none;
    display: block;
    outline: 0;
    padding: 0 0.5em;
    text-decoration: none;
    -moz-box-shadow: 0 0 1px #acacac;
    -webkit-box-shadow: 0 0 1px #acacac;
    box-shadow: 0 0 1px #acacac;
}

.my_profile_style button {
    width: auto;
    height: 2em;
    float: left;
    border-radius: 1em;
    border: 1px #7bbdff solid;
    background: #ffffff;
    cursor: pointer;
    outline: none;
    color: #75abe9;
    font-size: 13px;
}

.my_profile_style a {
    width: 50%;
    float: right;
    margin-left: 1em;
}

.profile_button p {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: 1em;
    font-size: 14px;
    line-height: 10px;
}

.profile_button input {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: 1em;
    height: 3em;
    line-height: 2em;
    border-radius: 4px;
    border: 1px solid #c7cbce;
    color: #6a6f77;
    -web-kit-appearance: none;
    -moz-appearance: none;
    display: block;
    outline: 0;
    padding: 0 0.5em;
    text-decoration: none;
    -moz-box-shadow: 0 0 1px #acacac;
    -webkit-box-shadow: 0 0 1px #acacac;
    box-shadow: 0 0 1px #acacac;
}

.profile_button input:focus {
    border: 2px solid #83b6ff;
}

.profile_button button {
    width: 60%;
    height: 2.4em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0.5em;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-size: 17px;
    opacity: 0.8;
}


.my_line {
    width: 100%;
    height: 1px;
    background-color: rgba(214, 214, 214, 0.75);
    margin-top: 1.2em;
}

/*居中*/
.my_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0.5em;
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    color: lightslategrey;
    background-color: #eeeeee;
}

.button_update {
    line-height: 30px;
    padding: 0 30px;
    background-color: #1B9AF7;
    border-color: #1B9AF7;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    align-items: flex-start;
}

#MyImage {
    position:relative;
}

#penLayer {
    margin-top: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}
