<!DOCTYPE HTML>
<html>
	<head>
		<title>weibo</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../static/css/home.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">	
					<a href="#" class="image avatar"><img src="../static/image/social-weibo.svg" alt="" /></a>
					<h1><strong>Discover something new </strong><br />
						anytime and anywhere!<br />
						Share your insights with the world!</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<section id="one">
					<header class="major">
						<h2>Look at the new things in the world</h2>
					</header>
					<p> Discover something new anytime, anywhere! </p>
					<p> Takes you to every moment in the world! </p>
					<p> Understands every behind-the-scenes story!</p>
					<p>	Share what you want to say and let the world hear your voice!</p>
					<ul class="actions">
						<li><a href="/sign_in" class="button">Sign In</a></li>
						<li><a href="/sign_up" class="button">Sign Up</a></li>
					</ul>
				</section>
			</div>


		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/home.js"></script>

	</body>
</html>