<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weibo</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            {% load widget_tweaks %}
            <div class="sign-in-htm">
                <form method="post">
                    {% csrf_token %}
                    <div class="group">
                        <label for="user" class="label">Email Address</label>
                        {#                    <input id="user" type="text" class="input">#}
                        {{ lf.email_sign_in|add_class:"input" }}
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        {#                    <input id="pass" type="password" class="input" data-type="password">#}
                        {{ lf.password_sign_in|add_class:"input"|attr:"data-type:password" }}
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <button type="submit" class="button" value="Sign In">Sign In</button>
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="">Forgot Password?</a>
                    </div>
                </form>
            </div>
            <div class="sign-up-htm">
                <form method="post">
                    {% csrf_token %}
                    <div class="group">
                        <label for="user" class="label">Email Address</label>
                        {#                    <input id="user" type="text" class="input">#}
                        {{ rf.email_sign_up|add_class:"input" }}
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Username</label>
                        {#                    <input id="pass" type="text" class="input">#}
                        {{ rf.username_sign_up|add_class:"input" }}
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        {#                    <input id="pass" type="password" class="input" data-type="password">#}
                        {{ rf.password_sign_up|add_class:"input"|attr:"data-type:password" }}
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        {#                    <input id="pass" type="password" class="input" data-type="password">#}
                        {{ rf.password_cfm_sign_up|add_class:"input"|attr:"data-type:password" }}
                    </div>
                    <div class="group">
                        <button type="submit" class="button" value="Sign Up">Sign Up</button>
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#tab-1').on("click", function () {
        $('.sign-up-htm form input').each(function () {
            $(this).val("")
        })
    });
    $('#tab-2').on("click", function () {
        $('.sign-in-htm form input').each(function () {
            $(this).val("")
        })
    })
</script>
</body>
</html>